/*!
 * asso-kit -- customisations
 */

/* generic */
body { color: #333; background-color: rgb(252, 250, 241); }

#wrapper {
  background: #fcfcfc;
}

div.flash { border: none; text-shadow: none; }
div#content > div.flash:first-child { border-radius: 0; border-bottom: 1px solid #eee; }

#errorExplanation, div.flash, .nodata, .warning, .conflict { border: none; border-radius: 0; }
#errorExplanation, .nodata, .warning { border: none; text-shadow: none; }

.button, input[type="submit"] {
  text-shadow: none;
  /*background-image: none;*/
  border: none;
  border-radius: 0;
}

/* main */
#main {
  background-color: transparent;
  padding-bottom: 10px;
  margin-top: 0px;
}

/* top menu */
#top-menu {
  background: transparent;
  padding: 0px 0px 20px;
  border: none;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16);
  overflow: visible;
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 100%;
}
#top-menu a {
  color: #4a4a4a;
  display: inline-block;
  padding: 13px 10px 13px;
  font-weight: normal;
}
#top-menu a:hover {
  color: #4183C4;
}
#top-menu #loggedas { color: #777; }

/* home menu */
#home-menu {
  float: left;
}
#home-menu > a {
  padding: 8px 15px 8px 25px;
  margin: 0px;
  font-size: 20px;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  color: #4a4a4a;
}
#home-menu > a:before {
  content: "# ";
}

/* header */
#header {
  margin-top: 0px;
  background-color: transparent;
  background-image: none;
  padding: 4px 8px 0px 6px;
  height: auto;
  min-height: 200px;
  border: none;
}
#header > h1 {
  background: none;
  margin: 0px;
  padding: 10px 10px 0px 25px;
  text-align: left;
  text-shadow: 0px 1px 0px #FFF;
  color: #000;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  font-size: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 15px);
}
#header > h1:before {
  content: "/ ";
}
body.global #header {
  min-height: 100px;
}
body.global #header > h1 {
  display: none;
}
/*body.controller-projects.action-index.global #header > h1 {
  display: block;
  text-shadow: 0px 1px 0px #ccc;
  color: #333;
  padding-bottom: 20px;
  padding-left: 25px;
  margin-top: 140px;
  text-align: left;
}*/

/* quick-search */
#quick-search {
  float: right;
  margin: 50px 0px 0px;
}
#quick-search a {
  font-weight: normal;
}
div#quick-search #q {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
}
select#project_quick_jump_box {
  background: transparent;
}

/* main menu */
div#main-menu {
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  border-radius: 0;
  width: 100%;
  top: 0;
  z-index: 11;
  margin: 10px auto;
  text-align: center;
}
div#main-menu ul li a,
div#main-menu ul li a:hover,
div#main-menu ul li a:visited,
div#main-menu ul li a:link,
div#main-menu ul li a.selected,
div#main-menu ul li a.selected:hover {
  background: transparent !important;
  border: none;
}
div#main-menu ul li a:hover,
div#main-menu ul li a.selected,
div#main-menu ul li a.selected:hover {
  background: transparent !important;
}
div#main-menu ul li a.selected,
div#main-menu ul li a.selected:hover {
  border-bottom: 2px solid #11CBD2 !important;
}
div#main-menu ul.menu-children {
  text-align: left;
}
#main-menu ul .menu-children {
  background: rgba(255, 255, 255, 0.8) !important;
}

/* account menu */
#account ul { margin: 0;  padding: 0; width: 100%; white-space: nowrap; }
#account li {
  float:none;
  list-style-type:none;
  margin: 0px 2px 0px 0px;
  padding: 0px 0px 0px 0px;
  white-space:nowrap;
  display:inline-block;
}
#account li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0px;
}
#account > ul > li > a {
  padding: 13px 10px 13px;
}
#account > ul > li:first-child > a {
  padding-left: 15px;
}
#account > ul > li:last-child > a {
  padding-right: 15px;
}
#account li:hover ul.menu-children, #account li ul.menu-children.visible { display: block; }
#account .menu-children {
  display: none;
  position:absolute;
  right: 0px;
  width: inherit;
  z-index: 15;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: none;
}
#account .menu-children li { float:left; clear:both; width:100%; }
#account .menu-children > li > a,
#account .menu-children > li > a:hover,
#account .menu-children > li > a:visited,
#account .menu-children > li > a:link {
  font-weight:normal;
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.8) !important;
  color: #4a4a4a;
}
#account .menu-children > li > a:hover {
  color: #4183C4;
}
#account > ul > li > a.account-menu {
  padding: 2px 0px 1px 10px;
}
#account .account-menu .separator, #account .account-menu .login { font-weight: normal; }
#account .account-menu .gravatar {
  border-radius: 0;
  width: 39px;
  height: 39px;
  padding: 0px 0px 0px 5px;
}

/* user menu */
#user-menu {
  float: right;
}
#user-menu > ul > li > a {
  padding: 13px 10px 13px;
}

/* content */
div#content,
div#content > h2,
div#main.nosidebar div#content,
div#main.nosidebar div#content > h2 {
  border: none;
}
div#content > h2,
div#main.nosidebar div#content > h2 {
  background: transparent;
}

div#content,
div#main.nosidebar div#content,
div#sidebar {
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  box-shadow: none;
  border-radius: 2px;
}
div#content > div.contextual,
.controller-wiki div#content > div.contextual {
  margin-top: 15px;
}

/* sidebar */
div#sidebar {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: none;
  margin-top: 15px;
}
div#sidebarHandler {
  margin-top: 18px;
  top: 0px;
  margin-right: -6px;
}
div#hideSidebarButton {
  position: absolute;
  background: #F5F5F5;
  padding: 0px 3px;
  color: #888;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
}
div#hideSidebarButton::before {
	content: " > ";
}
div#hideSidebarButton.sidebar_hidden::before {
	content: " < ";
}

/* go to top */
#gototop-link {
  padding: 0px 15px 5px 5px;
  position: fixed;
  background: rgba(230, 230, 230, 0.7) none repeat scroll 0% 0%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  bottom: 0;
  right: 100px;
  z-index: 11;
  color: #999;
}
#gototop-link .arrow {
  padding: 0px 5px;
  font-size: 20px;
}
#gototop-link:hover {
  color: #4183C4;
  text-decoration: none;
}

/* footer */
#footer {
  /*background-color: #C0AD9A;*/
  background-color: transparent;
  border: none;
  color: #999;
  margin-top: 20px;
}
#footer a {
  color: #999;
  padding: 0px 15px;
}
#footer a:hover {
  color: #4183C4;
  text-decoration: none;
}

/* login */
#content .login-asso-kit,
body.controller-my.action-password.global div#main.nosidebar div#content {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  color: #666;
}
body.controller-my.action-password.global div#main.nosidebar div#content {
  max-height: 400px;
}
#content .login-asso-kit a {
  color: #000;
  text-decoration: underline;
}

/* projects */
#projects-index .project-item {
  height: 200px;
  width: 225px;
  overflow: hidden;
  box-shadow: 0px 1px 2px #999;
  display: inline-block;
  margin: 5px;
}
#projects-index .project-item .header {
  height: 114px;
  width: 100%;
  display: block;
  overflow: hidden;
  background: rgb(250, 250, 250) none repeat scroll 0% 0%;
  text-decoration: none;
  color: #555;
}
#projects-index .project-item.with-image .header img {
  height: 100%;
  width: 100%;
  border: none;
}
#projects-index .project-item .header .description {
  display: block;
  padding: 10px 10px 10px;
  width: 205px;
  height: 95px;
  font-size: 12px;
  background: rgba(245, 245, 245, 0.7) none repeat scroll 0% 0%;
  overflow: hidden;
  text-align: justify;
}
#projects-index .project-item .header .description {
  text-overflow: ellipsis;
}
#projects-index .project-item.with-image .header .description {
  display: none;
  z-index: 1;
  position: relative;
  margin-top: -119px;
}
#projects-index .project-item.with-image .header:hover .description {
  display: block;
}
#projects-index .project-item .title {
  height: 22px;
  margin: 8px 5px 4px;
  display: block;
  font-size: 14px;
  overflow: hidden;
}
#projects-index .project-item .informations {
  height: 53px;
}
#projects-index .project-item .informations .tags,
#projects-index .project-item .informations .created {
  border-bottom: 1px solid #eee;
  margin: 0px 5px;
  padding: 0px 5px 10px;
  text-align: center;
  color: #777;
  width: 205px;
  height: 17px;
  overflow: hidden;
}
#projects-index .project-item .informations .tags span {
  background: #F9F4ED;
  padding: 5px;
  margin: 0;
  font-size: 10px;
}
#projects-index .project-item .informations .created {
  text-align: left;
}
#projects-index .project-item .informations .created .qualifier {
  padding: 0px 5px 0px 0px;
  color: #999;
}
#projects-index .project-item .informations .users {
  float: right;
  padding: 5px 5px;
  color: #999;
}
#projects-index .project-item .informations .users .qualifier {
  padding: 0px 0px 0px 5px;
  color: #999;
  display: block;
  float: right;
}
#projects-index .project-item .informations .last-activity-entry {
  float: left;
  padding: 5px 5px;
  color: #999;
}
#projects-index .project-item .informations .last-activity-entry .qualifier {
  display: none;
}
#projects-index .project-item .informations .last-activity-entry::before {
  content: "Maj: ";
}


/* asso-kit settings */
#settings > form {
  display: block;
  width: 100%;
}
#asso-kit-settings {
  display: table;
  width: 100%;
}
#asso-kit-settings .setting-name {
  padding: 5px 10px;
  width: 200px;
  vertical-align: top;
}
#asso-kit-settings .setting-name label {
  float: none;
  display: inline;
  margin: 0px;
}
#asso-kit-settings .setting-value {
  padding: 5px 10px;
}
#asso-kit-settings .setting-with-children .setting-name {
  width: 80px;
}

/* Wiki */
#sidebar > .wiki {
	margin-top: 15px;
}

/* Taskboard */
div#rdb {
	background: transparent !important;
	border: none;
	border-radius: 0;
}
header#rdb-header {
	border: none;
	border-radius: 0;
	background: transparent;
}
header#rdb-header .rdb-menu-link:hover {
	background: transparent !important;
}
header#rdb-header a#rdb-refresh {
	border: none;
	border-radius: 0;
}
header#rdb-header a#rdb-refresh:hover {
	background-color: transparent !important;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
div#rdb-board {
	background: transparent !important;
	border: none;
	border-radius: 0;
}

/* DMSF */
#uploader { margin-top: 15px; }
.plupload_wrapper .plupload_header_content { height: 42px; padding-left: 10px; }
.plupload_wrapper .plupload_logo { display: none; }
.plupload_wrapper .plupload_header_title { display: none; }
.plupload_wrapper .plupload_header_text { color: #999999; font-size: 12px; padding-top: 14px; }
.plupload_wrapper .plupload_view_switch .ui-button { border-color: #CCC; }
.plupload_wrapper .plupload_view_switch .ui-button.ui-state-active { border-color: #DDD; }
/*.contextual { font-size: 0px; }
.contextual a { font-size: 10px; }
.contextual a.icon { padding-right: 5px; }
.contextual a.icon-link { display: none; }
.contextual a[href="/my/redmics_settings"] { padding: 0 10px 0 5px; }*/
.ui-widget-header { background: #FEFEFE; border: 1px solid #DDDDDD; color: #333; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background-image: none; color: #333; }

/* badge */
#issue_badge .badge { padding: 3px 4px 3px 3px; font-size: 0.8em; }

/* unread issue */
#top-menu a.us-my-issues span.count, #content span.count {
  background-color: #10AB72;
}
#top-menu a span.count.unread,
a span.count.unread,
tr.unread td.subject::before,
#content tr.unread td.subject::before {
  background-color: #55B6BA;
}

/* gantt */
.gantt_subjects img.gravatar {
  margin: 0px 5px 0px 2px;
  width: 13px;
  height: 13px;
}

/* easy wbs */
#easy_wbs .content-title h2 {
  background: #E6F1F6;
  text-shadow: 0px 1px #FFF;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 8px 20px;
  margin: -6px -10px 10px;
}
div#easy_wbs.redmine div.menu-item {
  padding: 0;
  margin-bottom: 7px;
  background: transparent;
}
div#easy_wbs.redmine div.menu-item:hover {
  background: transparent;
}
div#easy_wbs.redmine div.menu-item a.button {
  color: #4183C4;
  background-color: transparent;
  box-shadow: none;
  font-weight: normal;
}
div#easy_wbs.redmine div.menu-item.active a.button {
  background-color: #A8976F;
  color: #fff;
}
div#easy_wbs.redmine div.menu-item.save a.button {
  background-color: #4EBF67;
  color: #fff;
}
div#easy_wbs.redmine div.menu-item .icon {
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
}
div#easy_wbs.redmine div.menu-item.resetView .icon,
div#easy_wbs.redmine div.menu-item.scaleUp .icon,
div#easy_wbs.redmine div.menu-item.scaleDown .icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 10px 20px;
}
div#easy_wbs.redmine div.menu-item.undo .icon,
div#easy_wbs.redmine div.menu-item.redo .icon {
  padding: 10px 10px 10px 30px;
  background-position: 10% 50%;
}
#wbs_menu > .menu-item:nth-child(6),
#wbs_menu > .menu-item:nth-child(7) {
  display: none;
}
div#easy_wbs.redmine div.menu-item.scaleDown {
  display: inline-block;
}
div#easy_wbs.redmine div.menu-item.hotkeys {
  margin: 0px 20px;
}
div#easy_wbs.redmine div.menu-item.undo a.button:hover,
div#easy_wbs.redmine div.menu-item.redo a.button:hover,
div#easy_wbs.redmine div.menu-item.toggleOneSide a.button:hover {
  text-decoration: underline;
}
div#easy_wbs.redmine div.menu-item.save a.button:hover {
  background-color: #409C55;
}
