<%
unless (controller_name=='account' && action_name=='login') ||
  (controller_name=='my') ||
  (controller_name=='account' && action_name=='lost_password')
%>
<% if Setting.plugin_zz_asso_kit['add_go_to_top'] %>
<a id="gototop-link" href="#gototop" class="gototop"><span class="arrow">&uarr;</span><%= l(:label_go_to_top) %></a>
<% end %>
<% end %>
